@import url(http://yui.yahooapis.com/3.1.0/build/cssreset/reset-min.css);


html {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAH0CAAAAADZVhhLAAAAAXNCSVQI5gpbmQAAAAlwSFlzAAAOwwAADsMBx2%2BoZAAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMS8xNy8wOa1rRecAAAAYdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3Jrc0%2BzH04AAAAlSURBVCjPY7jLxIACGdH4DCTIMw46nfjkR3066tNh61OG%2F6h8AFEwBeKp0HZmAAAAAElFTkSuQmCC) repeat-x;
}

body {
font:16px/22px Helvetica, Arial, sans-serif;
margin:22px auto;
max-width:40em;
min-width:30em;
width:60%;
}

h1 {
font-size:48px;
line-height:44px;
text-shadow:0 4px 4px #aaa;
margin:66px 0 44px 0;
}

h2,#footer h1,legend {
font-size:24px;
}

h3 {
font-size:19px;
}

h1,h2,h3,h4,legend {
padding:11px 0;
}

h4,strong,th {
font-weight:bold;
}

p,ul,ol,dl,pre,form {
padding-bottom:22px;
}

a img {
border:medium solid #00f;
}

ul li {
list-style:disc outside;
}

ul ul li {
list-style:circle;
}

ul ul ul li {
list-style:square;
}

ol li {
list-style:decimal outside;
}

ol ol li {
list-style:lower-alpha;
}

ol ol ol li {
list-style:lower-roman;
}

ul ul,ol ol,ul ol,ol ul,dd {
margin-left:1.5em;
padding:0;
}

li:last-child p {
padding:0;
}

table {
font-size:13px;
margin-bottom:22px;
}

td,th {
border-top:1px solid #aaa;
padding:0 .5em;
}

td,th,strong,b {
line-height:21px;
}

blockquote {
border-left:thin solid;
margin-bottom:22px;
padding-left:1.5em;
}

blockquote * {
padding:0;
}

em {
font-style:italic;
}

abbr,acronym {
border-bottom:1px dotted #aaa;
cursor:help;
}

small {
font-size:11px;
line-height:16px;
}

pre,code,tt,kbd,samp,var {
font:15px/22px Consolas, monospace;
}

hr {
height:0;
width:40%;
border-top:#aaa 1px solid;
border-bottom:#ccc 1px solid;
margin:22px auto 42px auto;
}

#footer {
background:#eee;
margin:110px -66px;
padding:22px;
line-height:20px;
font-size:13px;
moz-box-shadow:0px 0px 44px #bbb;
-webkit-box-shadow:0px 0px 44px #bbb;
box-shadow:0px 0px 44px #bbb;
}

#footer h1, #footer p {
margin:0;
padding:0;
}

.fb_controls *, #signin_openid *, #preferences_openid_url_row * {
display:inline;
}

fieldset, .fb_controls {
padding-bottom:22px;
}