<!DOCTYPE html>
<head>

<TMPL_IF NAME="FORCEBASEURL">
<base href="<TMPL_VAR FORCEBASEURL>" />
<TMPL_ELSE>
<base href="<TMPL_VAR BASEURL>" />
</TMPL_IF>
<title><TMPL_VAR TITLE></title>
<link rel="stylesheet" href="/doc.css">

</head>
<body>

<h1><TMPL_VAR TITLE></h1>
<TMPL_VAR PAGEBODY>

<div id="footer">
<h1>from <TMPL_VAR INDEXLINK></h1>
</div>

</body>
