<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/txt/doc.css">
<title><TMPL_VAR TITLE></title>

<TMPL_IF NAME="EDITURL">
<link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>">
</TMPL_IF>
<TMPL_IF NAME="PREFSURL">
<link rel="alternate" type="application/x-wiki" title="Preferences" href="<TMPL_VAR PREFSURL>">
</TMPL_IF>

</head>
<body>

<TMPL_VAR CONTENT>

<div id="footer">

<h1>
This is
<TMPL_LOOP NAME="PARENTLINKS">/<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></TMPL_LOOP>/<TMPL_VAR TITLE>
</h1>

<p>
Last edited: <TMPL_VAR MTIME>
</p>

<TMPL_IF NAME="DISCUSSIONLINK">
<p>Got something to say? Join the <TMPL_VAR DISCUSSIONLINK></p>
<TMPL_ELSE>
<p><a href="<TMPL_VAR EDITURL>">Edit the above</a>, and add what you think.</p>
</TMPL_IF>

<TMPL_IF NAME="TAGS">
<p>Tags:
<TMPL_LOOP NAME="TAGS">
<TMPL_VAR LINK>
</TMPL_LOOP>
</p>
</TMPL_IF>

<TMPL_IF NAME="BACKLINKS">
<p>Also see:
<TMPL_LOOP NAME="BACKLINKS">
<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
</TMPL_LOOP>
</p>
</TMPL_IF>

</div>
</html>
</body>
